@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
    --color-zekrom: #0D0907;
    --color-castform: #F0F0F6;
    --color-minccino: #E4E6EB;
    --color-onix: #767676;
    --color-luxray: #FFB400;
}

body {
    font-family: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer components {
    .nav-circle {
        @apply inline-flex items-center justify-center w-10 h-10 rounded-full bg-castform p-2 hover:bg-luxray
    }
    .link-card {
        @apply p-6 bg-white hover:shadow-md transition transition-transform transform hover:-translate-y-1 cursor-pointer
    }
    .separator {
        @apply my-6 border-t border-minccino w-full
    }
    .aboutme-card {
        @apply relative bg-white py-50 cursor-pointer transition-all duration-300 overflow-hidden
    }
    .tooltip {
        @apply absolute -top-10 px-3 py-1 bg-zekrom rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-200
    }
    .arrow {
        @apply absolute left-1/2 -bottom-2 transform -translate-x-1/2 w-0 h-0 border-l-6 border-r-6 border-t-6 border-transparent border-t-black
    }
}

@layer base {
    h4 {
        @apply text-lg font-inter font-semibold
    }
    p {
        @apply text-sm text-onix font-inter
    }
    h5 {
        @apply text-sm text-zekrom font-inter font-light
    }
    h1 {
        @apply text-4xl font-bold text-zekrom
    }
    h2 {
        @apply text-2xl font-bold text-zekrom text-center
    }
}
